<div class="" style="">

  <div class="row">
    <div class="col-md-3">
      <%= render "backpacks/left_list", backpacks: @backpacks, current_backpack: @current_backpack %>
    </div>
    <div class="col-md-9">
      <%= render "header" %>
      <% if @current_backpack.present? %>
        <div class="row">
          <div class="col-md-5">
            <%= render "backpacks/request_detail", backpack: @current_backpack %>
            <%= render "backpacks/request_query", backpack: @current_backpack %>
            <%#= render "backpacks/request_form", backpack: @current_backpack %>
          </div>

          <div class="col-md-7">
            <%= render "backpacks/request_headers", backpack: @current_backpack %>
          </div>
        </div>
      <% else %>
        <div class="row">
          <div class="col-md-5">
          <div class="card">
            <div class="card-header">
              暂时还没有请求
            </div>
          </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
