<div class="" style="">

  <div class="row">
    <div class="col-md-4">
      <%= render "backpacks/left_list", backpacks: @backpacks %>
    </div>
    <div class="col-md-8">
      <%= render "header" %>
      <div>
        <div class="row">
          <div class="col-md-6">
            <%= render "backpacks/request_detail", backpack: @backpacks.first %>
          </div>
          <div class="col-md-6">
            <%= render "backpacks/request_headers", backpack: @backpacks.first %>
          </div>
          <div class="col-md-6">
            <%= render "backpacks/request_query", backpack: @backpacks.first %>
          </div>

          <div class="col-md-6">
            <%= render "backpacks/request_form", backpack: @backpacks.first %>
          </div>
        </div>
        底部信息
      </div>
    </div>
  </div>
</div>
