<div class="bg-light min-vh-100 d-flex flex-row align-items-center">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-lg-8">
        <div class="card-group d-block d-md-flex row">
          <div class="card col-md-7 p-4 mb-0">
            <div class="card-body">
              <h1>Login</h1>
              <p class="text-medium-emphasis">Sign In to your account</p>
              <%= simple_form_for(resource, as: resource_name, url: session_path(resource_name), "data-turbo": false) do |form| %>
                <% if flash[:notice] %>
                  <div class="alert alert-success">
                    <%= flash[:notice] %>
                  </div>
                <% elsif flash[:error] %>
                  <div class="alert alert-danger">
                    <%= flash[:error]  %>
                  </div>
                <% end %>
                <%= form.input :email, label: "邮箱" %>
                <%= form.input :password, label: "密码" %>
                <%= form.input :remember_me, label: '记住我', as: :boolean %>
                <%= form.submit '登陆', class: 'btn btn-primary form-control px-4 mb-0 mt-4' %>
              <% end %>
              <div class="row">
              </div>
            </div>
          </div>
          <div class="card col-md-5 text-white bg-primary py-5">
            <div class="card-body text-center">
              <div>
                <h2>Sign up</h2>
                <p>Life is a flower.</p>

                  <% if devise_mapping.registerable? && controller_name != 'registrations' %>
                  <%= link_to new_registration_path(resource_name)  do%>
                    <button class="btn btn-lg btn-outline-light mt-3" type="button">
                      注册
                    </button>
                    <% end %>
                  <% end %>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>