<div class="row" id="request_detail">
  <div class="col-md-3">
    <%= render "requests/left_list", requests: @requests, current_request: @current_request %>
  </div>
  <div class="col-md-9">


<!-- Modal -->
<%= render 'webhook_response_settings' %>
<%#= render 'webhooks/script_edit' %>

    <%= render "header" %>
    <% if @current_request.present? %>
      <div class="row">
        <div class="col-md-7">
          <%= render "requests/request_detail", request: @current_request %>
          <%= render "requests/request_query", request: @current_request %>
          <%= render "requests/request_form", request: @current_request %>
          <%= render "requests/request_file", request: @current_request %>
          <% if !['application/x-www-form-urlencoded', 'multipart/form-data'].include?(@current_request.content_type) %>
            <%= render "requests/request_raw_content", request: @current_request %>
          <% end %>
        </div>

        <div class="col-md-5">
          <%= render "requests/request_headers", request: @current_request %>
        </div>
      </div>
    <% else %>
      <div class="row mt-2">
        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              暂时还没有请求
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
