<%= link_to "/webhooks/#{request.token_uuid}/#{request.uuid}" do %>
        <div class="list-group-item list-group-item-action flex-column align-items-start <%= current_request&.uuid == request.uuid  ? 'active' : '' %>">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= request.req_method %></h6><small><%= request.created_at.strftime('%Y/%m/%d %H:%M:%S') %></small>
            </div>
            <p class="mb-1"><%= request.hostname %></p><small>uuid: <%= request.uuid  %></small>
        </div>
<% end %>
