<div class="app flex-row align-items-center"  style="margin-top: 120px">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-6">
        <div class="card mx-4">
          <div class="card-block p-4">
            <h2><%= t(".title") %></h2>
            <p class="text-muted"><%= t(".description") %></p>
            <%= simple_form_for :password, url: passwords_path do |form| %>
              <%= form.input :email %>

              <%= form.submit 'Submit', class: 'btn btn-block btn-success' %>
            <% end %>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
