<div class="card">
  <div class="card-header"> Request <small><%= backpacks.count %> count</small></div>
  <div class="card-body">
    <div class="list-group">
      <% backpacks.each do |backpack| %>
        <%= link_to "/account_tokens/#{backpack.token_uuid}/#{backpack.uuid}" do %>
        <div class="list-group-item list-group-item-action flex-column align-items-start <%= current_backpack&.uuid == backpack.uuid  ? 'active' : '' %>">
            <div class="d-flex w-100 justify-content-between">
              <h5 class="mb-1"><%= backpack.req_method %></h5><small><%= backpack.created_at.strftime('%Y %m%d %H:%M:%S') %></small>
            </div>
            <p class="mb-1"><%= backpack.hostname %></p><small>uuid: <%= backpack.uuid  %></small>
        </div>
          <% end %>
      <% end %>
     </div>
  </div>
</div>