<div class="card" id="leftRequest" data-controller="scroll">
  <div class="card-header clearfix"> Request <small><%= backpacks.count %> count</small>
    <div class="spinner-border text-light float-end ml-auto spinner-border-sm" role="status">
      <span class="sr-only"></span>
    </div>
  </div>
  <div class="card-body">
    <div class="list-group">
      <% backpacks.each do |backpack| %>
        <%= link_to "/webhooks/#{backpack.token_uuid}/#{backpack.uuid}" do %>
        <div class="list-group-item list-group-item-action flex-column align-items-start <%= current_backpack&.uuid == backpack.uuid  ? 'active' : '' %>">
            <div class="d-flex w-100 justify-content-between">
              <h6 class="mb-1"><%= backpack.req_method %></h6><small><%= backpack.created_at.strftime('%Y/%m/%d %H:%M:%S') %></small>
            </div>
            <p class="mb-1"><%= backpack.hostname %></p><small>uuid: <%= backpack.uuid  %></small>
        </div>
          <% end %>
      <% end %>
     </div>
  </div>
</div>