<div class="card">
  <div class="card-header"> Request <small><%= backpacks.count %> count</small></div>
  <div class="card-body">
    <div class="list-group">
      <% backpacks.each do |backpack| %>
        <div class="list-group-item list-group-item-action flex-column align-items-start active" href="#">
          <div class="d-flex w-100 justify-content-between">
            <h5 class="mb-1"><%= backpack.req_method %></h5><small><%= backpack.created_at %></small>
          </div>
          <p class="mb-1"><%= backpack.hostname %></p><small>uuid: <%= backpack.uuid  %></small>
        </div>
      <% end %>
     </div>
  </div>
</div>