<div class="card">
  <div class="card-header">
    <i class="fa fa-align-justify"></i>
    <h6>Request detail</h6>
  </div>
  <div class="card-body">
    <table class="table table-responsive-sm table-sm table-borderless table-striped">
      <tbody>
      <tr>
        <td><%= backpack.req_method || 'GET' %></td>
        <td><%= "/r/#{backpack.token_uuid}" %></td>
      </tr>
      <tr>
        <td>Host</td>
        <td><%= backpack.hostname %></td>
      </tr>
      <tr>
        <td>Date</td>
        <td><%= backpack.created_at %></td>
      </tr>
      <tr>
        <td>Size</td>
        <td><%= backpack.content_length %></td>
      </tr>
      <tr>
        <td>ID</td>
        <td><%= backpack.uuid %></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>