<!DOCTYPE html>
<html>
  <head>
    <title>管理</title>
    <%= csrf_meta_tags %>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="后台管理">
    <meta name="author" content="tianlu">
    <link rel="icon" href="/maolv.png">

    <%= javascript_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'admin', 'data-turbolinks-track': 'reload' %>
    <%#= stylesheet_pack_tag 'admin/style', 'data-turbolinks-track': 'reload' %>

    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body class="page-<%= controller_name %>">

     <%= render "admin/common/sidebar"  %>
     <div class="wrapper d-flex flex-column min-vh-100 bg-light">
       <%= render "admin/common/header" %>
       <div class="body flex-grow-1 px-3">
         <div class="container-lg">
            <%= yield %>
         </div>
       </div>

      <%#= render "admin/common/aside_menu" %>
       
       <div id="challenge-node"></div>
     </div>
     <%= render "admin/common/flash_notice" %>

  </body>

</html>
