<!DOCTYPE html>
<html>
  <head>
    <title>管理</title>
    <%= csrf_meta_tags %>
    <meta charset="utf8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="后台管理">
    <meta name="author" content="tianlu">    
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= vite_client_tag %>
    <%#= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
    <%= vite_javascript_tag 'application' %>
    <%= vite_stylesheet_tag 'application.scss' %>
    <link rel="icon" href="/favicon.png">

    <meta name="turbolinks-cache-control" content="no-cache">
  </head>

  <body class="page-<%= controller_name %>">

     <%= render "admin/common/sidebar"  %>
     <div class="wrapper d-flex flex-column min-vh-100 bg-light" id="root-wrap">
       <%= render "admin/common/header" %>
       <div class="body flex-grow-1 px-3">
         <div class="container-lg">
            <%= yield %>
         </div>
       </div>

      <%#= render "admin/common/aside_menu" %>
       
       <div id="challenge-node"></div>
     </div>
     <%= render "admin/common/flash_notice" %>

  </body>

</html>
