<!DOCTYPE html>
<html>
<head>
  <title>Webhook</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  <%= stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>

</head>
<body class="page-<%= controller_name %>">
  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <%= render "shared/header" %>
    <div class="body flex-grow-1 px-3">
      <%= yield %>
    </div>
    <footer class="footer">
      <div><a href="https://webhook-king.io">webhook-king</a> © 2021 creativeLabs.</div>
      <div class="ms-auto">Powered by&nbsp;<a href="https://webhook-king.io/">webhook-king</a></div>
    </footer>
  </div>
</body>
</html>
