<!DOCTYPE html>
<html>
<head>
  <title>Webhooking</title>
  
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= vite_client_tag %>
  <%#= stylesheet_link_tag 'tailwind', 'inter-font', 'data-turbo-track': 'reload' %>
  <%= vite_javascript_tag 'application' %>
  <%= vite_stylesheet_tag 'application.scss' %>    
  <link rel="icon" href="/favicon.png">
</head>
<body class="page-<%= controller_name %>">
  <div class="wrapper d-flex flex-column min-vh-100 bg-light">
    <%= render "shared/header" %>
    <div class="body flex-grow-1 px-3">
      <%= yield %>
    </div>
    <footer class="footer">
      <div><a href="https://webhooking.io">webhooking</a> © 2021 creativeLabs.</div>
      <div class="ms-auto">Powered by&nbsp;<a href="https://webhooking.io/">webhooking</a></div>
    </footer>
  </div>
</body>
</html>
